
.second-content{
    background: url(./img/sectwo-wavey-fingerprint.svg);
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;  
    max-width: 100%;
    height: 0px auto;  
}

.second-section{
    margin: 10rem 0;
    border: 4px solid black;
    border-radius: 10px;
}

.second-section h2{
    font-size: 3rem;
    color: white;
    margin-top: 2rem;
}

.second-section p{
    margin: 3rem;
    color: whitesmoke;
}

.three-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
}

.three-section{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem ;
    margin: 10px;
    border: 0.05rem solid crimson;
    border-radius: 10px;
}

.three-section h2{
    margin-bottom: 2rem;
}

.form-group label{
    display: block;
    margin-top: 20px;
    width: 100%;
}

.form-group label::placeholder{
    color: var(--letter-color);
    background-color: azure;
}

.form-group input{
    width: 100%;
    border: 1px solid rgb(202, 189, 191);
    padding: 0.5rem;
    transition: 300ms;
}

.form-group input:hover{
    border: 1px solid crimson;
    transition: all 300ms;
}

.form-group input:focus{
    transition: 1s;
    border: 1px solid;
}

.form-group button{
    display: flex;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--nav-color);
    color: var(--letter-color);
    font-weight: 700;
    cursor: pointer;
    transition: 500ms;
}

.form-group button:hover{
    background-color: crimson;
    color: white;
    transition: 0.5s;
}